/*==GENERAL STYLIZATION==*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
/*==BODY==*/
body{
    height: 100%;
    background: linear-gradient(
        to right,
        #201d2e 50%,
        #f6f6f6 50%
    ) fixed;
}
/*==CONTAINER==*/
.container{
    width: 90vmin;
    background-color: #fff;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgb(34, 34, 34, 0.5);
}
.container p{
    line-height: 30px;
    text-align: justify;
    margin-top: 30px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.wrapper input{
    width: 60%;
    padding: 10px 7px;
    border-radius: 3px;
    border: 1px solid #201d2e;
}
.wrapper button{
    color: #fff;
    width: 30%;
    background-color: #201d2e;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}